<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Encuesta</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .error { color: red; }
    </style>
</head>
<body>

<div class="container mt-5">
    <h2>Encuesta para Huéspedes</h2>
    <form th:action="@{/}" th:object="${encuesta}" id="guestSurvey" method="post" action="/submit-survey">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" minlength="2" />
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
        </div>

        <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <input type="text" class="form-control" id="apellidos" name="apellidos" th:field="*{apellidos}" minlength="2" />
            <span th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"></span>

        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" th:field="*{email}" />
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

        </div>

        <div class="form-group">
            <label for="edad">Edad </label>
            <input type="number" class="form-control" id="edad" name="edad" min="18" th:field="*{edad}"/>
            <span th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></span>

        </div>

        <div class="form-group">
            <label for="telefono">Teléfono </label>
            <input type="text" class="form-control" id="telefono" name="telefono" th:field="*{telefono}" />
            <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></span>

        </div>

        <div class="form-group">
            <label for="fiestancia">Fecha de inicio de la estancia </label>
            <input type="date" class="form-control" id="fiestancia" name="fiestancia" th:field="*{fiestancia}" />
            <span th:if="${#fields.hasErrors('fiestancia')}" th:errors="*{fiestancia}"></span>

        </div>

        <div class="form-group">
            <label for="Mvisita">Motivo de la visita </label>
            <select class="form-control" id="Mvisita" name="Mvisita" th:field="*{mvisita}" >
                <option value="" selected disabled>Seleccione una opción</option>
                <option value="Trabajo">Trabajo</option>
                <option value="Estudios">Estudios</option>
                <option value="Turismo">Turismo</option>
                <option value="Otros">Otros</option>
            </select>
        </div>

        <div class="form-group">
            <label>Servicios utilizados durante la estancia:</label>
            <div>
                <label><input type="checkbox" th:field="*{sutilizados}" value="Restaurante"> Restaurante</label><br>
                <label><input type="checkbox" th:field="*{sutilizados}" value="Gimnasio"> Gimnasio</label><br>
                <label><input type="checkbox" th:field="*{sutilizados}" value="Spa"> Spa</label><br>
                <label><input type="checkbox" th:field="*{sutilizados}" value="Piscina"> Piscina</label><br>
                <label><input type="checkbox" th:field="*{sutilizados}" value="Room service"> Room service</label>
            </div>
        </div>

        <div class="form-group">
            <label>Nivel de satisfacción generaL</label>
            <div>
                <label><input type="radio" th:field="*{nsgeneral}" name="satisfaccion" value="Muy satisfecho" /> Muy satisfecho</label><br>
                <label><input type="radio" th:field="*{nsgeneral}" name="satisfaccion" value="Satisfecho" /> Satisfecho</label><br>
                <label><input type="radio" th:field="*{nsgeneral}" name="satisfaccion" value="Neutral" /> Neutral</label><br>
                <label><input type="radio" th:field="*{nsgeneral}" name="satisfaccion" value="Insatisfecho" /> Insatisfecho</label><br>
                <label><input type="radio" th:field="*{nsgeneral}" name="satisfaccion" value="Muy insatisfecho" /> Muy insatisfecho</label>
            </div>
        </div>

        <div class="form-group">
            <label for="comentarios">Otros comentarios:</label>
            <textarea class="form-control" id="comentarios" name="comentarios" th:field="*{comentarios}" rows="4"></textarea>
        </div>

        <button type="submit" value="enviar" class="btn btn-primary">Enviar</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>