<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalles de la Encuesta</title>
</head>
<body>
<h1>Detalles de la Encuesta</h1>

<p><strong>ID:</strong> <span th:text="${encuesta.id}"></span></p>
<p><strong>Nombre:</strong> <span th:text="${encuesta.nombre}"></span></p>
<p><strong>Apellidos:</strong> <span th:text="${encuesta.apellidos}"></span></p>
<p><strong>Email:</strong> <span th:text="${encuesta.email}"></span></p>
<p><strong>Edad:</strong> <span th:text="${encuesta.edad}"></span></p>
<p><strong>Teléfono:</strong> <span th:text="${encuesta.telefono}"></span></p>
<p><strong>Fecha de inicio de estancia:</strong> <span th:text="${encuesta.fiestancia}"></span></p>
<p><strong>Motivo de Visita:</strong> <span th:text="${encuesta.mvisita}"></span></p>
<p><strong>Servicios Utilizados:</strong> <span th:text="${encuesta.sutilizados}"></span></p>
<p><strong>Nivel de Satisfacción General:</strong> <span th:text="${encuesta.nsgeneral}"></span></p>
<p><strong>Comentarios:</strong> <span th:text="${encuesta.comentarios}"></span></p>

<a href="/admin">Volver a la lista</a>
</body>
</html>
